body {
  text-align: center;
  background-color: #282c34;
  color: white;
  
}

.SignUpForm{
  border: 2px solid white;
  border-radius: 10px;
  width: 400px;
  text-align: left;
  margin-top: 5%;
  padding: 10px;
  background-image: linear-gradient(40deg, #e51616 0%, #26a776 46%, #151e9d 100%);
}
input{
  width: 90%;
  height: 40px;
  border: none;
  border-bottom: #342c28;
  border-radius: 10px;
  background-color: #0a1c63;
  color: rgb(174, 149, 149);
  font-size: large;
}
input::selection{
  border: none;
}
sup{
  font-size: larger;
  color: red;  
}
.loginform{
  border: 2px solid white;
  width: 400px;
  height: 330px;
  border-radius: 20px;
  text-align: left;
  margin-top: 5%;
  padding: 10px;
  background-image: url('./assets/OIP.jpg');
  margin-bottom: 2%;
}
#loginh2{
  text-align: center;
  padding-bottom: 20px;
}

.otpform{
  border: 2px solid white;
  border-radius: 10px;
  width: 400px;
  margin-top: 5%;
  padding: 10px;
  background-image: url('./assets/OIP.jpg');
  color: #d5d5cb;
}
.otpinput{
  width: 100%;
  height: 45px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.loga{
  text-decoration: none;
  color: antiquewhite;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 10px;
  
}
.loga:hover{
  color: antiquewhite;
  background-color: blue;
}
.btn{
  font-size: large;
}
.nav{
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
  width: 400px;
  padding-right: 2%;
}
.homebtn{
  display: flex; 
  margin-top: 2%; 
}
.profileinfo{
  border: 2px solid white;
  border-radius: 10px;
  width: 400px;
  margin-top: 5%;
  word-wrap: break-word;;
  padding-left: 2%;
  padding-right: 2%;
  background-image: linear-gradient(1200deg, #a0490b 20%, #1c743d 46%, #0a1c63 100%);
  /* background-image: url('./assets/OIP.jpg'); */
  
}
.homepage{
  border: 2px solid white;
  width: 400px;
  margin-top: 5%;
  word-wrap: break-word;;
  padding: 2%;
  border-radius: 10px;
  /* background-image: url('./assets/OIP.jpg'); */
  background-image: linear-gradient(100deg, #2dc7a6 0%, #1d161b 46%, #95953d 100%);
 
}
.homebuttons{
  display: flex;
  justify-content: space-between;
  /* background-color: darkcyan; */
  border: 1px solid #ce7d14;
  border-radius: 10px;
  background-image: linear-gradient(43deg, #e51616 0%, #101714 46%, #151e9d 100%);

}
.signlink{
  background-color: none;
}
.homea{
  /* background-color: aliceblue; */
  
  justify-content: center;
  text-decoration: none;
  color: rgb(215, 149, 149);
  margin: 7px;
  font-size: large;
}
.homea:hover{
  color: aliceblue;
}
.loginlink{
  text-decoration: none;
  color: antiquewhite;
  font-size: larger;
  margin-top: 230px;
  text-align: center;
  position: absolute;
  margin-left: 305px;
}
.loginlink:hover{
  color: wheat;
  /* background-color:  */
}
.sample{
  /* background-color: #151e9d; */
  /* border: 2px solid; */
  border-radius: 10px;
  height: 550px;
  width: 400px;
  margin-top: 5%;
  margin-bottom: 5%;
  background-image: linear-gradient(43deg, #0a0909 20%, #2e3140 56%, #151e9d 100%);
}
h1{
 background-image: linear-gradient(40deg, #e51616 0%, #26a776 46%, #151e9d 100%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 /* width: 150px;
 padding-top: 220px; */
/* margin-top: 55%; */
}
.samh1{
  background-image: linear-gradient(40deg, #e51616 0%, #26a776 46%, #151e9d 100%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 width: 150px;
 padding-top: 220px;
}
.otpcancel{
  text-decoration: none;
  color: rgb(8, 11, 35);
  margin: 5px;
  font-size: large;
  font-weight: 500;
}
.otpcancel:hover{
  color: #888f9e;
}
.logina{
  text-decoration: none;
}
.touch{
  background-image: linear-gradient(43deg, #e51616 0%, #26a776 46%, #151e9d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 7px;
}
.userdata{
  text-transform: capitalize;
  text-align: left;
  font-size: larger;
  /* display: flex; */
}
.imgprofilepic{
  border-radius: 20px;
  height:100px;
}
.homefeeds{
  margin-top: 3%;
  text-transform: capitalize;
  text-align: left; 
}
.userlink{
  text-decoration: none;
  text-transform: capitalize;
  font-size: larger;
  color:white;
  
}
.userlink:hover{
 color: white;
}
.post{
  border-radius: 10px;
  height:20%;
  width:100%;
}
.imgprofile{
  width: 30px;
  border-radius: 20px;
}
.backBtn{
  width: 30px;
}